# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
*.env

# Django stuff
*.log
staticfiles/
media/
db.sqlite3

# VSCode
.vscode/

# OS files
Thumbs.db
*.DS_Store

# Node.js
node_modules/
package-lock.json
